<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Editar Categoría</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
</head>

<body>

    <header th:insert="fragments/menu :: menu-principal"></header>

    <main role="main">
        <hr>
        <div class="container">

            <div class="card">
                <h4 class="card-header"><strong>Categoría</strong></h4>
                <div class="card-body">
                    <form th:action="@{/categorias/save}" method="post" th:object="${categoria}">
                      
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                             <input type="hidden"th:field ="*{id}">
                            <input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre" required="required">
                        </div>
                       <div class="form-group">
    <label for="descripcion">Descripción</label>
    <textarea class="form-control" th:field="*{descripcion}" id="descripcion" name="descripcion" required="required"></textarea>
</div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>